@layer base, components, typography, utilities;

@import url("katex/dist/katex.min.css") layer(base);

@layer base {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        height: 100%;
    }

    html,
    body {
        min-height: 100%;
    }

    img {
        display: block;
    }
}

@layer components {
    .iconify {
        font-size: 1em;
    }

    button {
        all: unset;
        cursor: pointer;
        padding: 0 0.5em;
        border-radius: 0.25rem;

        background: #ddd;
        border: 1px solid #bbb;

        display: grid;
        place-content: center;
        place-items: center;
        grid-auto-flow: column;
        gap: 0.25em;

        font-size: 14px;

        &:hover {
            background: #ccc;
            border-color: #aaa;
        }

        &:active {
            background: #bbb;
            border-color: #999;
        }

        &:disabled {
            cursor: not-allowed;
            background: #eee;
            border-color: #ccc;
            color: #999;
        }

        min-height: 1.35rem;

        &:has(.iconify:first-child) {
            padding-left: 0.25em;
        }

        &:has(.iconify:last-child) {
            padding-right: 0.25em;
        }

        &:has(.iconify:first-child:last-child) {
            padding: 0;
            min-width: 1.35em;
            aspect-ratio: 1 / 1;
        }

        &.flat {
            color: #666;
            background: transparent;
            border: 1px solid transparent;
            transition:
                background 0.2s,
                color 0.2s;

            &:hover {
                background: #e0e0e0;
            }

            &:active {
                background: #ddd;
            }

            &:disabled {
                background: transparent;
                color: #ccc;
            }
        }

        &.large {
            font-size: 18px;
            min-height: 1.75em;
        }
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea {
        padding: 0 0.25rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 16px;
        font-family: inherit;
        background: #fff;
        color: #333;
        outline: none;

        &:focus {
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
        }
    }

    input[type="text"],
    input[type="number"],
    textarea {
        padding: 0.125rem 0.25rem;
    }

    textarea {
        padding: 0.35rem;
    }

    select {
        background: #e0e0e0;
        border: 1px solid #bbb;
        font-size: 14px;

        &:hover {
            background: #d0d0d0;
        }
    }

    .cell {
        display: grid;
        grid-template-columns: 60ch 1fr;
        border-radius: 0.25rem;
        padding: 0.25rem;
        gap: 0.25rem;

        transition: all 0.2s ease-in-out;

        .katex,
        .katex-display {
            margin: 0;
        }

        .cell-name {
            font-size: 14px;
            font-weight: 600;

            input[type="text"] {
                font-family: "JetBrains Mono", monospace;
                font-size: 14px;
            }
        }

        > .editor {
            padding: 2px;
            padding-right: 0.5rem;

            display: grid;
            gap: 0.35rem;
            align-content: start;

            max-height: 640px;

            /* max-height: 80vh; */
            overflow: auto;

            transition: all 0.3s ease-in-out;

            > .snippets {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 0.35rem;
            }

            > textarea {
                min-width: 50ch;
                max-height: 17rem;
                width: 100%;
                height: 100%;
                resize: vertical;
                font-family: "JetBrains Mono", monospace;
                font-size: 14px;
            }

            > .buttons {
                display: grid;
                grid-auto-flow: column;
                gap: 0.35rem;
                justify-content: start;

                &.right {
                    justify-content: end;
                }
            }

            > .title {
                font-size: 15px;
                font-weight: 600;
            }

            > p {
                font-size: 15px;
                color: #333;
                line-height: 1.25;
            }

            > .decoration {
                display: grid;
                justify-items: start;

                > .decoration-name {
                    font-size: 13px;
                    font-weight: 600;
                    color: #444;

                    z-index: 1;

                    padding: 0.25rem 0.5rem;

                    padding-bottom: 0.5rem;
                    margin-top: -0.25rem;
                    transform: translateY(0.25rem);

                    background: #d0d0d0;
                    border: 1px solid #ccc;
                    border-bottom: none;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;

                    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3);
                }

                > .decoration-entries {
                    justify-self: stretch;

                    display: grid;
                    grid-template-columns: auto 1fr;

                    z-index: 2;

                    background: #d0d0d0;
                    border: 1px solid #ccc;
                    border-radius: 0.35rem;
                    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.2);

                    overflow: clip;

                    > .decoration-entry {
                        grid-column: span 2;

                        display: grid;
                        grid-template-columns: subgrid;

                        > .key {
                            display: grid;
                            align-items: center;
                            justify-content: start;

                            padding: 0.25rem 0.5rem;
                            font-family: "JetBrains Mono", monospace;
                            font-size: 13px;
                            font-weight: 600;

                            user-select: none;
                        }

                        > .value {
                            display: grid;
                            align-items: center;
                            justify-content: start;
                            grid-auto-flow: column;
                            gap: 0.5rem;

                            padding: 0.25rem;
                            font-family: "JetBrains Mono", monospace;
                            font-size: 13px;

                            background: #f0f0f0;

                            border-left: 1px solid #ccc;

                            .katex {
                                font-size: 16px;
                            }
                        }

                        &:not(:last-child) {
                            > .key {
                                border-bottom: 1px solid #bbb;
                            }
                            > .value {
                                border-bottom: 1px solid #ccc;
                            }
                        }

                        &:hover {
                            > .value {
                                background: #e8e8e8;
                            }
                        }
                    }
                }
            }
        }

        > .viewer {
            /* min-width: calc(640px * 1.33);
            min-height: 640px; */
            background: #fff;

            border-radius: 0.25rem;

            transition:
                border-color 0.2s,
                box-shadow 0.2s;

            position: relative;

            touch-action: none;

            > .hover-tools {
                position: absolute;
                top: 0.25rem;
                left: 0.25rem;

                display: grid;
                align-items: center;
                grid-auto-flow: column;
                gap: 0.5rem;

                transition: opacity 0.2s;
            }

            > .resize-handle {
                position: absolute;
                bottom: 0.25rem;
                right: 0.25rem;

                display: grid;
                align-items: center;
                grid-auto-flow: column;
                gap: 0.5rem;

                transition: opacity 0.2s;

                button {
                    cursor: nwse-resize;
                }

                .iconify {
                    rotate: 45deg;
                }
            }

            svg {
                width: 100%;
                height: 100%;
                display: block;

                pointer-events: none;

                * {
                    pointer-events: none;
                }

                .interactive {
                    pointer-events: auto;
                }

                .cursor-pointer {
                    cursor: pointer;
                }

                .edge-hitbox:hover {
                    stroke: #0002;
                }

                .mouse {
                    pointer-events: none;
                }
            }

            .overlays {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;

                > .overlay {
                    position: absolute;
                    /* transform: translate(-50%, 50%); */
                    transform: translate(-50%, -1rem);

                    background: #fffe;
                    border-radius: 0.25rem;

                    pointer-events: none;
                }
            }

            &:not(:hover) {
                > .hover-tools,
                .resize-handle {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }

        &.collapsed {
            border: 1px solid transparent;
            grid-template-columns: 0 1fr;

            > .editor {
                max-height: 0;
                opacity: 0;
                transform: scale(0.95);
                pointer-events: none;
            }

            > .viewer {
                border: 2px dashed transparent;

                &:hover,
                &.resizing {
                    border: 2px dashed #d0d0d0;
                    box-shadow: 0 0 1rem #00000008;

                    > .hover-tools,
                    > .resize-handle {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
        }

        &:not(.collapsed) {
            background: #e8e8e8;
            border: 1px solid #ccc;
            box-shadow: 0 0 1rem #00000010;

            > .viewer {
                border: 2px dashed #fff;
                box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);

                > .hover-tools,
                > .resize-handle {
                    display: none;
                }
            }
        }
    }

    body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;

        color: #333;
        font-family: "Source Sans 3 Variable", sans-serif;
        font-size: 15px;
        line-height: 1;

        max-height: 100vh;
        background: #e8e8e8;
        overflow: hidden;
        user-select: none;

        > .sidebar {
            display: grid;
            justify-items: center;
            align-content: start;

            background: #e8e8e8;
            border-right: 1px solid #bbb;

            > .logo {
                padding: 0.5rem;

                display: grid;
                place-content: center;

                font-weight: 500;
                font-size: 24px;
            }

            > .toolbar {
                padding: 0.5rem;

                display: grid;
                grid-auto-flow: row;
                align-content: start;
                gap: 0.5rem;

                border-top: 1px solid #bbb;

                &:last-child {
                    border-bottom: 1px solid #bbb;
                }

                button {
                    font-size: 18px;
                }
            }
        }

        > main {
            background: #fff;
            overflow-y: auto;
            overflow-x: clip;

            display: grid;
            align-content: start;

            /* overflow-x: hidden; */
            /* display: grid;
            justify-items: center;
            align-content: start; */

            > .cells {
                padding: 3rem 3rem 6rem;
                /* display: grid;
                justify-content: center;
                justify-items: center; */

                gap: 3rem 0.5rem;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                > .separator {
                    color: #666;
                    font-size: 2rem;
                }
            }
        }

        > footer {
            grid-column: span 2;

            background: #e8e8e8;
            border-top: 1px solid #bbb;
            font-size: 15px;

            > .status-bar {
                padding: 0.25rem;
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                gap: 0.5rem;

                .status-message {
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    gap: 0.25rem;
                }

                code {
                    font-family: "JetBrains Mono", monospace;
                    font-size: 12px;
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@layer utilities {
    .text-center {
        text-align: center;
    }

    .pointer-events-none {
        pointer-events: none;
    }

    .pointer-events-all {
        pointer-events: all;
    }

    .grid-h {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
    }

    .spinner {
        animation: spin 1s linear infinite;
    }
}
